{% extends "base.html" %}

{% block content %}
    <div class="panel right">
        <h1>Create a Tweet</h1>
        <p>
            <form action="/tweet_submit" method="post">
            {% for field in tweet_form %}{% csrf_token %}
            {{ field }}
            {{ tweet_form.errors }}
            {% endfor %}
            <input type="submit" value="tweet!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>All Users</h1>
        {% for myuser in user_list %}
        <div class="tweetWrapper">
        {% if myuser.gravatar_url %}
            <img class="avatar" height="50" width = "50" src="{{ myuser.gravatar_url }}">
        {% else %} 
            <img class="avatar" height="50" width = "50" src="../static/img/haha.png">
        {% endif %}
            <a href="/user/{{myuser.username}}"><span class="name">{{ myuser.first_name }} {{ myuser.last_name }} </span></a>
            <p>&nbsp</p>

        </div>
        {% endfor %}    
    </div>
{% endblock %}
