<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>
    <header>
        <div class="wrapper">
            <img height='50' width = '100' src="../static/img/bg.jpeg">
            <span>TWEETIFY</span>
            {% block login %}
            <a href="/">Home</a> &nbsp &nbsp &nbsp
            <a href="/user/{{user.username}}">Profile</a> &nbsp &nbsp &nbsp
            <a href="/user/people">My Follows</a> &nbsp &nbsp &nbsp
            <a href="/mentions">My Mentions</a> &nbsp &nbsp &nbsp
            <a href="/settings"> Settings </a> &nbsp &nbsp &nbsp
            <a href="/userlist"> User List </a> &nbsp &nbsp &nbsp
            Logged in as {{user.username}}
            <form action="/logout">
                <input type="submit" id="btnLogOut" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header>
    <div id="content">
        <div class="wrapper">
 
            {% block content %}
 
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="wrapper">
            Tweetify - A twitter Clone
        </div>
    </footer>
      <script type="text/javascript" src="http://makeuse.googlecode.com/files/makeuse.tripleflap.js"></script><script type="text/javascript">
        var twitterAccount = "kophygiddie";
        var tweetThisText = "Wow kophygiddie making a difference watch for this dude";
        tripleflapInit();
    </script>
</body>
</html>
