{% extends "base.html" %}
 
{% block login %}
    <form action="/login" method="post">{% csrf_token %}
        {{ auth_form.non_field_errors }}
        {% for field in auth_form %}
        {{ field }}
        {{ field.errors }}
        {% endfor %}
        <input type="submit" id="btnLogIn" value="Log In">
    </form>
{% endblock %}
 
{% block content %}

<img width = '526' height = '315' src="../static/img/back.jpg">
<div class="panel right">
    <h1>New to Tweetify?</h1>
    <p>
        <form action="/signup" method="post">{% csrf_token %}
            {{user_form.non_field_errors}}
            {% for field in user_form %}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <input type="submit" value="Create Account">
        </form>
    </p>
</div>
{% endblock %}