{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
 
{% block content %}
    <div class="panel right">
        <h1>Create a Tweet</h1>
        <p>
            <form action="/tweet_submit" method="post">
            {% for field in tweet_form %}{% csrf_token %}
            {{ field }}
            {% endfor %}
            <input type="submit" value="Tweet!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>My Tweets</h1>
        {% for tweet in tweets %}
        <div class="tweetWrapper">
            <a href="/users/{{ tweet.author.username }}">
            {% if tweet.author.gravatar_url %}
                <img class="avatar" height="50" width = "50" src="{{ tweet.author.gravatar_url }}">
            {% else %}
                <img class="avatar" height="50" width = "50" src="../static/img/haha.png">
            {% endif %}
                <span class="name">{{ tweet.author.first_name }}</span>
            </a>
            @{{ tweet.author.username }}
            <p>
                {{ tweet.tweet_text }}
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}