{% extends "base.html" %}
{% block login %}
    {% with user.username as username %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
 
{% block content %}
    <div class="panel right">
        <h1>Create a Tweet</h1>
        <p>
            <form action="/tweet_submit" method="post">{% csrf_token %}
            {% for field in tweet_form %}
            {{ field }}
            {% endfor %}
            <input type="submit" value="Tweet!">
            </form>
        </p>
    </div>
    <div class="panel left">
        <h1>Settings</h1>
        <form action="/delete_user" method="post">{% csrf_token %}
                <input type="submit" id="btnLogOut" value="Delete User">
        </form>
        <form action="/settings" method="post">{% csrf_token %}
            {% for field in user_form %}
                {{ field }}
                {{ user_form.errors }}
            {% endfor %}
            <input type="submit" value="Update">
        </form>
        </div>
    </div>
{% endblock %}